@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Lato', sans-serif;
}
body {
    
    background-size: cover;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #333;
    margin: 0px;
    
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #013220;
    color: white;
    z-index: 1000;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

nav a {
    color: white; /* Cor padrão dos links */
    text-decoration: none; /* Remove o sublinhado */
}

nav a:visited {
    color: white; /* Mantém a cor branca mesmo após o clique */
}

nav a:hover {
    color: #ddd; /* Cor levemente mais clara ao passar o mouse */
}

nav a:active {
    color: white; /* Mantém branco enquanto o link está ativo */
}


.logo img {
    width: 100px;
    height: auto;
}

main section {
    background: rgba(255, 255, 255, 0.8);
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.professores {
    text-align: center;
    opacity: 0,2;
    z-index: -2;
    
}

.professores-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;    
}

.professor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.professor img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: fill;
    border: 3px solid #013220;
}

.professor p {
    margin-top: 10px;
    font-weight: bold;
}

.background {
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    width: 50vh;
    height: 140vh; /* Garante que ocupe apenas a altura visível */
    opacity: 1;
    z-index: -1;
}

.background img {
    width: 120px;
    height: 120px;
}

.apresentacao, .professores, .entre-em-contato {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: 300px;
    margin-top: 20px;
}

.whatsapp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    z-index: 10; /* Garante que o botão fique acima de outros elementos */
}

.whatsapp-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25d366;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.whatsapp-button a:hover {
    background-color: #1ebe57;
}

.whatsapp-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #013220;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    opacity: 8;
}



@media (max-width: 1024px) {
    .professores-container {
        flex-direction: column;
        align-items: center;
    }

    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        color: white;
    }
